/* variables */
@import url("base/root.css");

/* components */
@import url("layout/header.css");
@import url("layout/footer.css");

/* app pages */
@import url("layout/errorPage.css");
@import url("layout/homePage.css");
@import url("layout/auth.css");

*,
::before,
::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-color: var(--border-color);
    font-family: var(--font-sans);
}

body {
    background: var( --primary-a-color);
    color: var(--text-primary);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-normal);
    margin: 0;
    position: relative;
    color: var(--text-inverse)
}

main {
    background-color: var(--white);
    color: var(--black);
}

.compressed-body {
    height: auto;
    overflow: auto;
}

button, .button {
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-lg);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    background-color: var(--white);
    color: var(--text-primary);
}

.primary-button {
    background-color: var(--tertiary-a-color) !important;
    color: var(--white)
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .compressed-body {
        height: 100dvh;
        overflow: hidden;
    }
}