.main--auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: var(--primary-a-color); */
    color: var(--black);
    min-height: 100dvh;
}

.auth-aside {
    max-height: 100%;
    overflow: hidden;
    padding: var(--spacing-4);
    border-radius: var(--radius-lg);
    position: relative;
    color: var(--white)
}

@media screen and (max-width: 768px) {
    .main--auth {
        display: block;
    }

    .auth-aside {
        display: none;
    }
}


/* background image */
.swiper {
    height: 100%;
    width: 100%;
    border-radius: var(--radius-lg);
    z-index: -1;
}


.swiper-slide img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.swiper-pagination {
    display: flex;
    justify-content: flex-start;
    padding: var(--spacing-6);
}

/* videomania logo */
.auth-logo__container {
    position: absolute;
    top: var(--spacing-8);
    left: var(--spacing-8);
    z-index: var(--z-10);
}

.auth-logo__container img {
    height: 40px;
    width: auto;
}








/* back to app */
.back-top-app__container {
    position: absolute;
    top: var(--spacing-8);
    right: var(--spacing-8);
    z-index: var(--z-10);
}

.back-to-app__link {
    background-color: rgba(255, 255, 255, 0.30);
    padding: var(--spacing-2) var(--spacing-4);
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2);
    transition: all 0.2s ease;
}

.back-to-app__link:hover {
    background-color: rgba(255, 255, 255, 0.4);
    gap: var(--spacing-3);
    transition: all 0.2s ease;
}

.back-to-app__link-icon {
    height: 22px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-app__link-icon img {
    height: 36px;
    width: auto;
}


/* comitment text */
.commitment-text__container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    line-height: 1.4;
    font-size: var(--font-size-3xl);
    margin: var(--spacing-4);
    border-radius: var(--radius-lg);
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0) 100%);
    z-index: var(--z-10);
}

.commitment-text__text {
    padding: var(--spacing-12) var(--spacing-6);
    font-weight: var(--font-weight-semibold);
    text-align: left;
}

.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth__content {
    width: 400px;
}

.auth__content a {
    color: var(--tertiary-a-color);
}

.auth__content h1 {
    margin: 0;
    font-size: var(--font-size-5xl);
}

.auth__content p {
    margin-bottom: var(--spacing-12);
}

.auth-form+a {
    color: var(--tertiary-a-color);
    display: block;
    text-align: center;
    padding-top: var(--spacing-4);
}

.auth-container form {
    display: flex;
    flex-direction: column;

}

.auth-container form label {
    margin-bottom: var(--spacing-2);
}

.auth-container form input {
    height: 42px;
    margin-bottom: var(--spacing-6);
    border-radius: var(--radius-lg);
    padding: var(--spacing-2);
    /* background-color: #fce4e433; */
    color: var(--white);
    border-width: 1px;
}


/* .auth-container form input:focus {
    outline: 2px solid var(--white) !important;
    outline-offset: 2px; 
} */





.password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: var(--spacing-6);
    gap: var(--spacing-2);
    position: relative;
}

.password-container input {
    width: 100%;
    margin: 0 !important;
}

.password-container img {
    height: 24px;
    width: auto;
    position: absolute;
    right: 10px;
    opacity: 0.5;
}

/* #submit-btn {
    font-size: var(--font-size-m);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-a-color);
    color: var(--white);
} */


.name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-4);
}

.name-container label {
    margin: 0 !important;
}

@media screen and (max-width: 768px) {
    .auth__content {
        width: 100%;
        padding: var(--spacing-4);
    }

    .name-container {
        width: 100%;
    }
}