.main--home-page{
    display: flex;
    justify-content: center;
}

.home-heading {
    padding-top: calc(95px + var(--spacing-32));
    text-align: center;
    line-height: 1.8;
    width: 100%;
    background-image: url('../../assets/imgs/ski.jpg');
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    background-attachment: scroll;
    margin-top: -90px;
}

.home-heading::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* noir à 50% */
  z-index: 1;
}

.home-heading > * {
  position: relative;
  z-index: 2; 
}

.home-heading h1 {
    margin: 0;
    font-size: var(--font-size-5xl);
}

.home-heading p {
    padding: 0;
    margin: 0;
    color: var(--white);
    margin-bottom: var(--spacing-12);
    font-size: var(--font-size-xl);
}


.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-container div {
    height: 50px;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    background-color: #ffffff33;
    padding: var(--spacing-4);
    width: 50%;
    border-radius: var(--radius-lg);
}

.search-container img {
    height: 28px;
    width: auto;
}

.search-container input {
    background-color: transparent;
    color: white;
    font-size: var(--font-size-lg);
}

.search-container input::placeholder {
    color: white;
}

.search-container input:focus {
    outline: none;
    box-shadow: none;
}
